@media screen and (max-width: 1600px){
    body{
        footer{
            .social-links{
                position: relative;
                left: 65%;
            }
        }
    }   
}

@media screen and (max-width: 1350px){
    body{
        footer{
            .copyright{
                left: 40%;
            }
            .social-links{
                position: relative;
                left: 60%;
            }
        }
    }   
}

@media screen and (max-width: 1350px){
    body{
        footer{
            .copyright{
                left: 38%;
            }
            .social-links{
                position: relative;
                left: 55%;
            }
        }
    }   
}

@media screen and (max-width: 1050px){
    body{
        footer{
            .copyright{
                left: 36%;
            }
            .social-links{
                position: relative;
                left: 50%;
            }
        }
    }   
}

@media screen and (max-width: 950px){
    body{
        footer{
            .copyright{
                left: 34%;
            }
            .social-links{
                position: relative;
                left: 45%;
            }
        }
    }   
}

@media screen and (max-width: 850px){
    body{
        footer{
            .copyright{
                left: 32%;
            }
            .social-links{
                position: relative;
                left: 40%;
            }
        }
    }   
}

@media screen and (max-width: 780px){
    body{
        footer{
            .copyright{
                left: 5%;
            }
            .social-links{
                position: relative;
                left: 35%;
            }
        }
    }   
}

@media screen and (max-width: 780px){
    body{
        footer{
            .social-links{
                position: relative;
                left: 30%;
            }
        }
    }   
}

@media screen and (max-width: 660px){
    body{
        footer{
            .social-links{
                position: relative;
                left: 25%;
            }
        }
    }   
}

@media screen and (max-width: 630px){
    body{
        footer{
            .social-links{
                position: relative;
                left: 20%;
            }
        }
    }   
}

@media screen and (max-width: 580px){
    body{
        footer{
            .social-links{
                position: relative;
                left: 15%;
            }
        }
    }   
}

@media screen and (max-width: 545px){
    body{
        footer{
            .copyright{
                width: 250px;
            }
            .social-links{
                left: 15%;

                .social-link{
                    margin-right: 10px;
                }
            }
        }
    }   
}

@media screen and (max-width: 485px){
    body{
        footer{
            .social-links{
                left: 10%;
            }
        }
    }   
}

@media screen and (max-width: 460px){
    body{
        footer{
            .social-links{
                left: 5%;
            }
        }
    }   
}

@media screen and (max-width: 425px){
    body{
        footer{
            .copyright{
                width: 200px;
            }

            .social-links{
                left: 5%;

                .social-link{
                    margin-right: 5px;
                }
            }
        }
    }   
}

@media screen and (max-width: 370px){
    body{
        footer{
            .copyright{
                width: 150px;
            }

            .social-links{
                left: 5%;

                .social-link{
                    margin-right: 0;
                }
            }
        }
    }   
}
