@media screen and (max-width: 415px){
    body{
        h1{
            font-size: 52px;                  
        }
        .sections{
            .section3{
                main{
                    iframe{
                        width: 350px;
                    }

                    .contact-us{
                        width: 350px;

                        .top{
                            input{
                                width: 325px;
                            }
                        }

                        .bottom{

                            details{
                                width: 325px;
                            }

                            textarea{
                                width: 325px;
                            }
                        }
                    }
                }
            }

            .section4{
                h1{
                    justify-content: flex-start;
                    padding-left: 100px;
                }
            }
        }
    }
}